.al2-dataTable {
  background-color: $color-gray-light;
  width: 100%;

  //NOTE: Component Title
  &__title {
    letter-spacing: 0;
    margin: 0 0 20px 0;
    @include rhythm(18, 32);
  }

  //NOTE: Table styles start here
  &__table {
    border-spacing: 0;
    width: 100%;
    @include rhythm(14, 30);

    @include atSmall {
      @include rhythm(12, 24);
    }
  }

  &__tbody {
    tr {
      transition: background-color .3s ease;

      &:hover {
        background-color: $color-blue-light;
        cursor: pointer;
      }

      @include onlyMobile {
        border-top: 1px solid $color-blue-light-2;
        display: flex;
        flex-wrap: wrap;
        margin: 12px 0 0 0;
        padding-top: 6px;
        width: 100%;
      }

      &:first-of-type {
        @include onlyMobile {
          margin: 0;
        }
      }
    }
  }

  &__thead {
    color: $color-text-secondary;
    text-align: left;
    text-transform: uppercase;
    @include rhythm(10, 16);
    
    @include onlyMobile {
      display: none;
    }
  }

  &__th {
    border-bottom: 1px solid $color-blue-light-2;
    height: 34px;

    span {
      &:hover {
        cursor: pointer;
      }

      &::after {
        bottom: 2px;
        left: 4px;
        @include css-triangle($color-gray-light-2, down, 4px, relative, false, inline-block );
      }
    }
  }

  &__td {
    border-bottom: 1px solid $color-blue-light-2;
    height: 56px;
    &--selected {

    }

    @include onlyMobile {
      border: none;
      display: flex;
      flex-direction: column;
      height: auto;
      margin: 0;
      padding: 8px;
      width: 50%;
    }

    &--flex-row-mobile {
      @include onlyMobile {
        align-items: center;
        flex-direction: row;
      }
    }
  }

  &__td,
  &__th {
    &:first-of-type {
      @include atSmall {
        padding-left: 12px;
      }
    }
  }

  &__status-red,
  &__status-green {
    &::before {
      @include  pseudo(block, relative);
      border-radius: 100%;
      height: 10px;
      margin-left: 6px;
      width: 10px;

      @include atSmall {
        height: 8px;
        margin: 0;
        width: 8px;
      }
    }
  }

  &__status-red{
    &::before {
      background-color: $color-text-disabled;
    }
  }

  &__status-green{
    &::before {
      background-color: $color-text-enabled-2;
    }
  }
  
  &__responsive-label {
    color: $color-text-secondary;
    text-align: left;
    text-transform: uppercase;
    @include rhythm(9, 15);
    
    @include atSmall {
      display: none;
    }
  }

}