// NOTE: SidePanel in mobile and tablet portrait shows itself like a popup that slides from the bottom to the top
.al2-sidePanel {
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  left: 50%;
  margin-top: 24px;
  position: absolute;
  top: 0;
  transition: all .3s ease;
  transform: translateX(-50%);
  width: 95%;

  // NOTE: On Tablet portrait have to add border bottom radius
  // TODO: Have to center it vertically
  @include onlyTabletPortrait {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 40px;
    width: 80%;
  }

  // NOTE: Tablet Landscape and desktop the behavior is like the one defined on the zeplin design
  @include atTabletLandscapeAndDesktop {
    border-radius: 0;
    height: 100%;
    left: auto;
    position: relative;
    margin-top: 0;
    top: auto;
    transform: none;
  }

  // NOTE: Defining an specific width for side panel in desktop
  @include atLarge {
    width: $width-side-panel-desktop;
  }

  // NOTE: Defining an specific a narrower width for side panel in tablet landscape
  @include onlyTabletLandscape {
    width: $width-side-panel-tablet-landscape;
  }

  // NOTE: This overlay is the container of the popup in mobile
  &__overlay {
    @include atMobileAndTabletPortrait {
      background-color: transparent;
      bottom: 0;
      height: 100vh;
      margin-top: 64px;
      overflow-y: scroll;
      position: fixed;
      top: 100vh;
      transition: all .3s ease;
      width: 100vw;
      z-index: z('modal');
    }

    @include onlyTabletLandscape {
      align-self: flex-start;
    }

    // NOTE: This modifier brings to the top the panel on mobile
    &--active {
      top: 0;
    }
  }

  // Note: Modifier for left SidePanel. Not used in this example
  &--at-left {
    @include atLarge {
      margin-left: - $width-side-panel-desktop;
    }

    @include onlyTabletLandscape {
      margin-left: -$width-side-panel-tablet-landscape;
    }
  }

  // Note: Modifier for right SidePanel
  &--at-right {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    @include atLarge {
      margin-right: - $width-side-panel-desktop;
    }

    @include onlyTabletLandscape {
      margin-right: -$width-side-panel-tablet-landscape;
    }
  }

  // NOTE: Active state on desktop and tablet landscape
  &--active {
    &.al2-sidePanel--at-left {
      margin-left: 0;
    }

    &.al2-sidePanel--at-right{
      margin-right: 0;
    }
  }

  // NOTE: Close button
  &__close-btn {
    color: $color-text-secondary;
    font-family: $typo-lm;
    height: 40px;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: all .2s ease;
    width: 40px;
    @include rhythm(24, 24);
    @include flex-HCenter-VMiddle;

    &:hover {
      color: $color-text-main;
    }

    // NOTE: Adding a pointer cursor on desktop
    @include atLarge {
      cursor: pointer;
    }
  }
}