.al2-sidePanel {
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  left: 50%;
  margin-top: 24px;
  position: absolute;
  top: 100vh;
  transition: all .3s ease;
  transform: translateX(-50%);
  width: 95%;

  @include atSmall {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: auto;
    position: relative;
    margin-top: 0;
    top: auto;
    transform: none;
    width: $side-panel-width;
  }

  &--at-left {
    margin-left: - $side-panel-width;
  }

  &--at-right {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: - $side-panel-width;
  }

  &--active {
    top: 0;

    &.al2-sidePanel--at-left {
      margin-left: 0;
    }

    &.al2-sidePanel--at-right{
      margin-right: 0;
    }
  }

  &__close-btn {
    color: $color-text-secondary;
    font-family: $typo-lm;
    height: 40px;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: all .2s ease;
    width: 40px;
    @include rhythm(24, 24);
    @include flex-HCenter-VMiddle;

    &:hover {
      color: $color-text-main;
    }

    @include atSmall {
      cursor: pointer;
    }
  }
}