.al2-button {
  padding: 10px 20px;
  text-transform: uppercase;
  @include rhythm(11, 18);
  @include flex-HCenter-VMiddle;

  @include atSmall {
    padding: 5px 20px;
    @include rhythm(9, 16);
  }

  &--rounded {
    border-radius: 30px;
  }

  &--blue {
    background-color: $color-blue;
    box-shadow: 0 2px 5px 0 rgba(46, 108, 153, 0.2);
    color: white;
  }

  &--red {
    background-color: $color-red;
    box-shadow: 0 2px 5px 0 rgba(192, 57, 43, 0.2);
    color: white;
  }
}