//BREAKPOINTS
// min
$bp_xs-min: 569px;
$bp_sm-min: 700px;
$bp_md-min: 1025px;
$bp_lg-min: 1200px;
//max
$bp_sm-max: 699px;
$bp_md-max: 1024px;

//COLORS
$color-text-main: #060e14;
$color-text-secondary: #6e767d;
$color-text-enabled: #00b631;
$color-text-enabled-2: #36b348;
$color-text-disabled: #de2f2f;
$color-gray-light: #f9f9fb;
$color-gray-light-2: #a2acb3;
$color-gray-light-3: #f0f4f7;
$color-gray-light-4: #f2f2f3;
$color-gray-light-5: #ecf1f5;
$color-blue: #2e6c99;
$color-blue-light: #eaf0f5;
$color-blue-light-2: #d1d9de;
$color-green-light: #ebf7ed;
$color-red-light: #ffebeb;
$color-red: #c0392b;

//FONTS
$typo-lr: 'latoregular', sans-serif;
$typo-lm: 'latomedium', sans-serif;

//HEIGHTS
$height-header: 64px;

//WIDTHS
$width-side-panel-desktop: 400px;
$width-side-panel-tablet-landscape: 300px;